mixin logo(path)
    img.logo-icon(src= ""+path +"" alt="logo")

mixin links(linkItem)
    link( rel="stylesheet" href="" + linkItem +"" type="text/css")

mixin script(linkItem, typeDoc = "text/javascript")
    script( type = typeDoc src="" + linkItem +"" )

mixin input-action(clear= "очистить", save= "применить")
    .form-elem__action
        h3(class = "clear" data-action = 'clear')= clear
        h3(data-action = 'set-result')= save

mixin input(title, subtitle, style = false, innerText, icon, className = "default", read = false)
    form(action="")
        .input__text-box
            if title
                h3= title 
            if subtitle
                span= subtitle
            if style
                input(class = ""+className+" " +"input__field" + " "+ style+"" placeholder = "" + innerText + "" readonly = read)
            else 
                input(class = ""+className+" " +"input__field"  placeholder = "" + innerText + "" readonly = read)
            if icon
                i(class="material-icons md-24" + " "+ icon+ "")= icon

mixin doubleInput(title, subtitle, style = false, innerText, icon, className = "default", read = false)
        .input__text-box
            if title
                h3= title 
            if subtitle
                span= subtitle
            if style
                input(class = ""+className+" " +"input__field" + " "+ style+"" placeholder = "" + innerText + "" readonly = read)
            else 
                input(class = ""+className+" " +"input__field"  placeholder = "" + innerText + "" readonly = read)
            i(class="material-icons md-24" + " "+ icon+ "")= icon

mixin dropdown_extend_unit(extendTitle, className, quantity)
    .form-elem__dropdown-unit
        h3= extendTitle
        .form-elem__change-box
            div(class = "circle" + " " + className + "-minus") -
            h3.quantity= quantity
            div(class = "circle" + " " + className + "-plus") +

mixin checkbox(text, id, checkedInput = false)
    .checkbox__box
        input(class ="form-elem__custom-checkbox" type= "checkbox" id=""+id+"" checked= checkedInput )
        label(for=""+id+"")
        span= text

mixin radio-btn(sex, id,checkedInput = false)
    .radio__box
        input(class ="form-elem__custom-radio" name = "sex" type= "radio" id=""+id+"" checked= checkedInput )
        label(for=""+id+"")
        span= sex

mixin toggle(text, checkedInput = false)
    .toggle__box
        input(class ="form-elem__custom-toggle" type= "checkbox" checked= checkedInput )
        span= text

mixin like(icon, quantity, className)
    div(class = "like__box" + " "+className +"")
       i(class="material-icons md-24 ")= icon
       span= quantity

mixin rate(idName, savedRate)
    - var i = 1;
    .rate__box
            while i <= 5
                -var number= i++
                if number == savedRate
                    input(name= idName type="radio" id = ""+ idName +""+number+"" checked)
                else
                    input(name= idName type="radio" id = ""+ idName +""+number+"")
                label(for=""+ idName +""+number+"")

mixin range-slider(title)
    .range__textbox
        h3= title
        span.range__result-text
    .range__wrapper
        .range__range
        input(type= "hidden" id= "range__result")

mixin button-round(text, fill = false, bordered = false, active = "", icon)
        if fill
            button(class = "button__fill" + " "+"button__fill-" +active+"")= text
        else
            div(class = "button__bordered-box" + " "+"button__bordered-box-"+ active+"")
                button(class = "button__bordered")= text

mixin button-text(text, active= "")
    button(class = "button__text"+ " "+"button__text-"+ active+"")= text

mixin list(title, className = "default", icon, active = "")
    div(class = "expandable__title"+ " "+ active+"")
        h3= title
        i(class="material-icons md-24" + " "+ icon+ "")= icon
    
mixin list-item(text, id, checkedInput = false)
    .expandable__list-item
        input(class ="form-elem__custom-checkbox" type= "checkbox" id=""+id+"" checked= checkedInput )
        label(for=""+id+"")
        span= text

mixin rich-list(title, text, id, checkedInput = false)
    .rich-list__item
        input(class ="form-elem__custom-checkbox" type= "checkbox" id=""+id+"" checked= checkedInput )
        label(for=""+id+"")
        .rich-list__text-box
            p.rich-list__title= title
            span= text

mixin bullet-item(text)
    li.bullet-list__item= text

mixin benefit(title, subtitle, icon)
    .benefits__box
        i(class="material-icons md-24")= icon
        .benefits__textbox
            p= title
            span= subtitle

mixin response(icon, likes, className, path, name, time, text)
    .response__user-box
        .response__user
            .ava__container
                img(src= ""+path +"" alt="ava")
            .response__user-info
                p= name
                span= time
        .response__user-textbox
            +like(icon, likes, className)
            p= text

mixin calendar(name)
    .calendar__wrapper
        div(class="datepicker-here" + " "+ name+ "")
        +input-action
